@import 'mainInfo';

.main-display {
  align-items: center;

  display: flex;
  flex-direction: column; 
  height: 100%;

  .med {
    align-items: stretch;
    background-color: #004D55;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .door-opening-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    svg {
      height: 3em;
      width: 3em;
    }

    &.same-side {
      svg {
        color: #24F178;
        transform: scaleY(-1);
      }
    }

    &.other-side {
      svg {
        color: #EF3829;
      }
    }
  }

  .door-opening-info-text {
    padding: 0 1em;
    text-align: center;

    .sub {
      font-size: 1em;
    }

    .main {
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  .door-number {
    background-color: #327177;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.5em 1em;  
    text-align: center;

    .sub {
      font-size: 1em;
    }

    .main {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}
