@import 'platform';
@import 'otherTrain';
@import 'train';

.main-info {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 1em 1em 1em 1em;

  &.landscape {
    flex-direction: column-reverse;
    width: 100%;
  }

  &.portrait {
    align-items: stretch;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    // // todo: this is so bad, only do this shit when you indicate some flag
    // justify-content: flex-start;
    // padding-left: 25%;
  }
}
