.other-train-2 {
  align-items: center;
  display: flex;

  svg {
    color: #919191;
    height: 1.5em;
    width: 1.5em;
  }
}

.landscape {
  .other-train-2 {
    flex-direction: row;
  }

  .other-direction {
    margin: 0.25em 0 0.25em 1.5em;
  }

  .same-direction {
    margin: 0.25em 1.5em 0.25em 0em;
  }
}

.portrait {
  .other-train-2 {
    flex-direction: column;
  }

  .other-direction {
    margin: 1.5em 0.25em 0 0.25em;
  }

  .same-direction {
    margin: 0 0.25em 1.5em 0.25em;
  }
}

.other-train {
  align-items: center;
  background-color: #F2F2F2;
  color: #919191;
  display: flex;
  justify-content: center;
}

.landscape {
  .other-train {
    border-bottom: 0.2em solid #BDBDBD;
    border-radius: 2em 2em 0 0;
    height: 2em;
    width: 100%;
  }
}

.portrait {
  .other-train {
    border-radius: 0 0 0 0;
    border-right: 0.2em solid #BDBDBD;
    height: 100%;
    margin: 0 0.25em 0 0.25em;
    width: 3em;

    p {
      transform: rotate(90deg);
      white-space: nowrap;
    }
  }
}
