.platform-info {
  background-color: #F2F2F2;
  box-sizing: border-box;
  position: relative;

  svg {
    color: #004D55;
    height: 2em;
    width: 2em;

    path {
      stroke: #004D55;
    }

    &.escalator-entry-icon {
      path {
      stroke: #BDBDBD;
      }
    }
  }
}

.landscape {
  .platform-info {
    border-bottom: 0.2em solid #E0E0E0;
    margin: 0.25em 3em;

    .platform-feature {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);    
    }

    svg {
      padding: 0.1em 0;
    }

    &.flip {
      .platform-feature {
        flex-direction: column;
      }
    }
  }

  /* warning: this is generally a bad idea */
  // https://stackoverflow.com/questions/39518374/scss-variable-class-name/39518851
  @for $i from 1 through 1000 {
    .platform-feature-#{$i} {
      // to-do: replace 2em with variable
      left: calc((#{$i} / 1000) * (100% - 2em));
    }
  }
}

.portrait {
  .platform-info {
    border-left: 0.2em solid #E0E0E0;
    border-right: 0.2em solid #E0E0E0;
    margin: 1.5em 0.25em 1.5em 0.25em;

    .platform-feature {
      display: flex;
      flex-direction: row;
      left: 50%;

      position: absolute;
      transform: translateX(-50%);    
    }

    svg {
      padding: 0 0.1em;
    }

    &.flip {
      .platform-feature {
        flex-direction: row-reverse;
      }
    }
  }

  /* warning: this is generally a bad idea */
  // https://stackoverflow.com/questions/39518374/scss-variable-class-name/39518851
  @for $i from 1 through 1000 {
    .platform-feature-#{$i} {
      // to-do: replace 2em with variable
      top: calc((#{$i} / 1000) * (100% - 2em));
    }
  }
}
