@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');
@import 'mainInfo';

body {
  font-size: 15px;
  font-weight: 400;
}

// Laptops - scale factor of 1.125
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  body {
    font-size: 1.125em;
  }
}

// FHD - scale factor of 1.125
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  body {
    font-size: 1.125em;
  }
}

// QHD - scale factor of 1.25
@media screen and (min-width: 2560px) {
  body {
    font-size: 1.25em;
  }
}

p {
  font-family: 'Merriweather Sans', sans-serif;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

.result {
  align-items: center;

  display: flex;
  flex-direction: column; 
  height: 100%;

  p {
     margin: 0;
  }

  .top {
    align-items: stretch;
    background-color: #004D55;
    border-bottom: 5px solid #EF3829;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    text-align: center;
    width: 100%;

    .station-info {
      width: 100%;
    }

    span {
      font-size: 1.5em;
    }

    .rotate-btn {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 0.5em;

      svg {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }

  .med {
    align-items: stretch;
    background-color: #004D55;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .door-opening-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    svg {
      color: #24F178;
      height: 3em;
      transform: scaleY(-1);
      width: 3em;
    }
  }

  .door-opening-info-text {
    padding: 0 1em;
    text-align: center;

    .sub {
      font-size: 1em;
    }

    .main {
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  .door-number {
    background-color: #327177;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.5em 1em;  
    text-align: center;

    .sub {
      font-size: 1em;
    }

    .main {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

