@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

p {
  font-family: 'Merriweather Sans', sans-serif;
}

.root {
  height: 100vh;
}

.display {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
     margin: 0;
  }

  .top {
    background-color: #004D55;
    font-size: 1.4em;
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #EF3829;
    padding: 0.2em 0;

    span {
      font-size: 1.5em;
    }
  }

  .med {
    display: flex;
    flex-direction: row;
    background-color: #004D55;
    color: #fff;
    width: 100%;
    align-items: stretch;
  }

  .door-opening-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    svg {
      height: 3em;
      width: 3em;
      transform: scaleY(-1);
      color: #24F178;
    }
  }

  .door-opening-info-text {
    text-align: center;
    padding: 1em;

    .sub {
      font-size: 1.4em;
    }

    .main {
      font-size: 2em;
      font-weight: 700;
    }
  }

  .door-number {
    display: flex;
    flex-flow: column;  
    text-align: center;
    justify-content: center;
    background-color: #327177;
    padding: 1em 1.5em;

    .sub {
      font-size: 1.2em;
    }

    .main {
      font-size: 2em;
      font-weight: 700;
    }
  }

  .bot {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
  }

  .platform-info {
    box-sizing: border-box;
    background-color: #F2F2F2;
    margin: 0.5em 3em;
    border-bottom: 0.2em solid #E0E0E0;
    height: 5em;
    position: relative;
    

    .elevator {
      left: calc(0.1 * (100% - 2em));
    }

    .icon-train {
      left: calc(1 * (100% - 2em));
    }

    .stairs {
      left: calc(0.5 * (100% - 2em));
    }

    svg {
      position: absolute;
      height: 2em;
      width: 2em;
      color: #004D55;
    } 

    path {
      stroke: #004D55;
    }
  }

  .other-train {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-bottom: 0.2em solid #BDBDBD;
    margin: 0 1.5em 0 1.5em;
    height: 2em;
    border-radius: 2em 2em 0 0;
    color: #919191;
  }

  .train-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 1.5em 0 0em;

    svg {
      height: 1.5em;
      width: 1.5em;
      color: #EF3829;
    }
  }

  .train {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2.5em;
  }

  .carraige {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BDBDBD;
    padding: 0;
    margin: 0.2em;
    width: 100%;
    border-bottom: 0.2em solid #4F4F4F;

    &:first-child {
      border-radius: 2em 0 0 0;
      padding-left: 1.5em;
    }

    &:last-child {
      border-radius: 0 2em 0 0;
      padding-right: 1.5em;
    }
  }

  .door {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #585858;
    margin: 3px 2px 0 2px;
    width: 100%;
  }
}
